.formbody{
    min-height: 100vh;
    background-color:hsl(0, 100%, 74%) ;
    background-image: url("../../images/Form/bg-intro-desktop.png");
    background-size: 100%;
    display: flex;
    align-items: center;
}
.formcontainer{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
.formcoluna1{
    display:flex;
    flex-direction:column ;
    margin-top: 10%;
    max-width: 50%;
    margin-right: 40px;
    color: white;
}
.formcoluna2{
    max-width: 50%;
    display: flex;
    flex-direction: column;

}
.formcontainertest{
    min-width: 100%;
    min-height:30px ;
    display: flex;
    align-items: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    
}
.formcontainertest p{
    margin: 0 auto;
}
@media (min-width:320px) and (max-width:700px){
    .formbody{
        min-height: 100vh;
        background-color:hsl(0, 100%, 74%) ;
        background-image: url("../../images/Form/bg-intro-mobile.png");
        background-size: 100%;
        
    }
    .formcontainer{
        display: block;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formcoluna1{
        margin: 1rem auto;
        min-width: 90%;
        
    }
    .formcoluna1 h1 {
        font-size: 40px;
        padding: 20px;
        padding-bottom:10px ;
    }
    .formcoluna1 p {
        font-size: 20px;
        padding:0 20px;
        padding-bottom:10px ;
    }
    .formcoluna2{
        min-width: 90%;
    }

    .containertest{
        height: 40px;
    }
}