.cadastro__body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
}
.cadastro__body h1 {
    text-align: center;
    font-size: 30px;
}
.cadastro__inputs{
    width: 1050px;
    margin: 30px auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}
.cadastro__inputs input{ 
    margin-left: 10px;
    margin-bottom: 40px;
    height: 30px;
}
.cadastro__inputs select {
    width: 200px;
    height: 30px; 
    margin-left: 10px;
    font-size: 20px;
} 
.cadastro__inputs input:placeholder-shown{
    font-size:20px;
    
}
.cadastro__btn{
    display: block;
    height: 50px;
    width: 100px;
    margin: 0 auto;
}
.cadastro__name{
    min-width: 60%;
}
.cadasyto__idade{
    width: 100px;
}
.cadasyto__rua{
    min-width: 60%;
}
#numero{
    width: 100px;
} 
