.container{
    max-width: 80%;
    margin: 0 auto;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icons a {
    text-decoration: none;
    margin-left: 10px;
}